@model List<prjGymEndTerm.ViewModels.CoachArea.CoachArea_StudentViewModel>
@{
    ViewData["Title"] = "Student_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <style>
        #tb1-19 {
            text-align: center;
            width: 1140px;
            margin-left: auto;
            margin-right: auto;
            /*transform:scaleX(0.8);*/
        }

        #tb1-19_length {
            color: white;
        }

        #tb1-19_filter {
            color: white;
        }

        #tb1-19_info {
            color: white;
        }

        #tb1-19_paginate > a {
            filter: invert(1);
        }

        #tb1-19_paginate > span {
            filter: invert(1);
        }
        #tb1-19 thead {
            font-size: 22px;
        }

        #tb1-19 tbody {
            color: black;
            font-size:18px;
            margin-left: auto;
            margin-right: auto;
        }

        .container > div > a {
            color: #FFA500;
        }

            .container > div > a:visited {
                color: #FFA500;
            }
    </style>
}
<section class="contact-section spad-3">
    <div class="container">
        <div>
            <a asp-controller="Coach" asp-action="List" style="color:#FFF">
                教練首頁
            </a>
            <label style="color:#FFF">
                >
            </label>
            <a href="#">
                目前頁面
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="class-details-text">
                    <div class="cd-trainer">
                        <div class="row">
                            @*<div class="col-md-6">*@    
                            <div class="col-md-12">
                                <input type="button" value="Demo" id="demo"  class="btn btn-warning" style="float:right"/>
                                <table class="table table-dark table-hover" id="tb1-19">
                                    <thead>
                                        <tr>
                                            @*<th>
                                                    序
                                                </th>*@
                                            <th>
                                                @Html.DisplayNameFor(model => model[0].LogInName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model[0].LogInGender)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model[0].LogInPhone)
                                            </th>
                                            <th>
                                                課程資料
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = 0;
                                            foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.LogInId)
                                                        </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LogInName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LogInGender)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LogInPhone)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary rounded-pill" href="@Url.Action("Student_Course",new { id = item.LogInId })"><i class="fas fa-address-book"></i> 課程資料 </a>
                                                        @*<a  asp-action="Student_Course">
                                                                課程資料
                                                            </a>*@
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Class Details Section End -->

@section Scripts{
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
    <script src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
    <link href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' rel='stylesheet' />

    <script>
        $(function () {
            $('#tb1-19').DataTable({
                language: {
                    "emptyTable": "無資料...",
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "每頁 _MENU_ 筆資料",
                    "zeroRecords": "無搜尋結果",
                    "info": "_START_ 至 _END_ / 共 _TOTAL_ 筆",
                    "infoEmpty": "尚無資料",
                    "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "paginate": {
                        "first": "首頁",
                        "last": "末頁",
                        "next": "下一頁",
                        "previous": "上一頁"
                    },
                    "aria": {
                        "sortAscending": ": 升冪",
                        "sortDescending": ": 降冪"
                    }
                }
            });
        })

        $("#demo").click(function () {
            $("#tb1-19_filter input").val("若瑄");
        })

    </script>

}
