@model List<prjGymEndTerm.ViewModels.CCompanyViewModel>

@{
    ViewData["Title"] = "backCompanyList";
    Layout = "~/Views/Shared/_BackstageLayout.cshtml";
}

<style>
    .coachTitle {
        position:absolute;
        width:100%;
        text-align: center;
        font-weight: 800;
        /*margin:0 0 0 500px*/
    }
    #myTable {
        margin: 15px 0;
        /*border: 1px solid #D0D0D0;*/
        /*padding:10px 0 0 0*/
    }
    /*    tr {
        border-bottom: 2px solid gray;
    }*/
    th {
        text-align: center;
        width: 100px;
        /*background-color: #FBFBFF;*/
        height: 40px
    }
    .page-breadcrumb {
        margin: 60px 0 15px 0;
    }

    .breadcrumb-item {
        font-size: 15px
    }
    td {
        text-align: center;
    }

    .table {

        width: 1300px;
        border: 1px solid #D0D0D0;
        background-color: #FCFCFC
    }

    .backTh {
        width: 100px
    }

    .backCBody {
        padding: 50px 0 0 80px;
        width: 1280px
    }

    .frame{
        position:relative;
        display:flex;
        justify-content:space-between;
    }

    .form {
        display: inline;
        position:absolute;
        right:0;
    }

    body {
        background-color: #efeff6
    }
    .divnone {
        height: 40px
    }
    .addbtn{
        margin:10px 0 0 0 
    }
    .thCount {
        width:7%
    }
    .thbtn {
        width: 15%
    }
    .th10 {
        width: 10%
    }
    #myTable th {
        background-color: #4F4F4F;
        color: white;
        height: 90%
    }

    #myTable a {
        font-size: 12px
    }
</style>

<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
<link href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' rel='stylesheet' />


<div class="backCBody">
    <div class="frame">
        <h1 class="coachTitle">所有廠商</h1>
        @using (Html.BeginForm(FormMethod.Post, new { @class = "form" }))
        {
            <a asp-action="backCompanyCreate" class="btn btn-warning rounded-pill addbtn"><i class="fas fa-plus-circle"></i> 新增廠商</a>
        }
    </div>

    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb" style="border-top: 1px solid #ADADAD ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=@Url.Action("List", "BackHome") class="breadcrumb-link">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">所有廠商</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4" style=" padding: 5px 0;">


                    <table id="myTable" class="display">
                        <thead>
                            <tr>
                                <th class="thCount">序號</th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].CompanyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].CompanyTaxId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].ComapnyPhone)
                                </th>
                                <th class="thbtn">資料異動</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 0;

                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyTaxId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComapnyPhone)
                                        </td>
                                        <td>
                                            <a class="btn btn-success rounded-pill" href="@Url.Action("backCompanyEdit", "Backstage", new { id = item.CompanyId })"><i class="fas fa-pencil-alt"></i></a>
                                            @*<a class="btn btn-danger rounded-pill" href="@Url.Action("backCompanyDelete", "Backstage", new { id = item.CompanyId })" onclick="return confirm ('確定要刪除嗎?')"><i class="fas fa-trash-alt"></i></a>*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>
</div>



<script>
    $('#myTable').DataTable({
        language: {
            "emptyTable": "無資料...",
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "每頁 _MENU_ 筆資料",
            "zeroRecords": "無搜尋結果",
            "info": "_START_ 至 _END_ / 共 _TOTAL_ 筆",
            "infoEmpty": "尚無資料",
            "infoFiltered": "(從 _MAX_ 筆資料過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "首頁",
                "last": "末頁",
                "next": "下一頁",
                "previous": "上一頁"
            },
            "aria": {
                "sortAscending": ": 升冪",
                "sortDescending": ": 降冪"
            }
        }
    });
</script>




@*<div class="backCBody">

        <h1 class="coachTitle">所有廠商</h1><hr />

        @using (Html.BeginForm(FormMethod.Post, new { @class = "form" }))
        {
            @:關鍵字搜尋 @Html.TextBox("txtKeyword") <input type="submit" value="查詢" />
            <a asp-action="backCompanyCreate" class="btn btn-warning rounded-pill" style="font-size:14px;font-weight:900;float:right"><i class="fas fa-plus-circle"></i> 新增廠商</a>
        }

        <table class="table table-hover mb-0 shadow-sm" style="margin:30px 0 0 0">
            <thead>
                <tr>
                    <th class="backTh" style="font-weight: 900; background-color: rgb(255, 224, 138,0.8); ">
                        序號
                    </th>
                    <th style="font-weight: 900; background-color: rgb(255, 224, 138,0.8);  ">
                        @Html.DisplayNameFor(model => model[0].CompanyName)
                    </th>
                    <th style="font-weight: 900; background-color: rgb(255, 224, 138,0.8); ">
                        @Html.DisplayNameFor(model => model[0].CompanyTaxId)
                    </th>
                    <th style="font-weight: 900; background-color: rgb(255, 224, 138,0.8); ">
                        @Html.DisplayNameFor(model => model[0].ComapnyPhone)
                    </th>
                    <th style="font-weight: 900;background-color: rgb(255, 224, 138,0.8);">
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="backTh">
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyTaxId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComapnyPhone)
                            </td>
                            <td>
                                <a class="btn btn-success rounded-pill" href="@Url.Action("backCompanyEdit", "Backstage", new { id = item.CompanyId })"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger rounded-pill" href="@Url.Action("backCompanyDelete", "Backstage", new { id = item.CompanyId })" onclick="return confirm ('確定要刪除嗎?')"><i class="fas fa-trash-alt"></i></a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>*@



