@model List<prjGymEndTerm.ViewModels.News_ViewModels.CPopularViewModel>
@{
    ViewData["Title"] = "popularActivities2";
}
<style>
    .carousel-inner {
        margin: 0 auto;
    }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="text-align: center">
            <img src="~/img/news/27.jpg" alt="新會員課程優惠" height="300">
        </div>
        <div class="carousel-item" style="text-align: center">
            <img src="~/img/news/38.jpg" alt="加入優惠" height="300">
        </div>
        <div class="carousel-item" style="text-align: center">
            <img src="~/img/news/36.jpg" alt="會員免費體態檢測" height="300">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="text-align: center; display: block;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="text-align: center; display: block;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    @*<span>What we do?</span>*@
                    <h2>熱門活動</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    @{
                        int count = 0;
                        @foreach (var item in Model)
                        {
                            count++;
                            if (count < 6)
                            {
                                string s = "exampleModal" + count;
                                string ids = "#" + s;
                                <div class="modal fade" id=@s tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="background-color:black;">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">@item.NewsTitle</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @*{/*<div class="modal-body">
                                                */}*@
                                            <img src="~/img/news/@item.NewsFigure" alt="">
                                            @*{/*
                                                </div>*/}*@
                                            <div class="modal-footer; text-align:center;">
                                                <div style="color: white; text-align: center;">@item.NewsContent</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-item">
                                    <div class="bi-pic">
                                        <button style="background-color: transparent; border: 0px; " type="button"
                                                class="btn btn-primary" data-toggle="modal" data-target=@ids onclick="popup(item.NewsFigure, item.NewsContent,item.NewsTitle)">
                                            <img src="~/img/news/@Html.DisplayFor(modelItem => item.NewsFigure)">
                                        </button>
                                    </div>
                                    <div class="bi-text">
                                        <h5>
                                            <a>
                                                @Html.DisplayFor(modelItem => item.NewsTitle)
                                            </a>
                                        </h5>
                                        <ul>
                                            @*<li>@item.loginName</li>*@
                                            @*<li> @Html.DisplayFor(modelItem => item.NewsTime)</li>*@
                                            <li>@Convert.ToDateTime(item.NewsTime).ToString("yyyy/MM/dd")</li>
                                            <li> @Html.DisplayFor(modelItem => item.PostName)</li>
                                        </ul>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.NewsContent)
                                        </p>

                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="blog-pagination">
                        <a href="./popularActivities">1</a>
                        <a href="./popularActivities2">2</a>
                        <a href="./popularActivities2">Next</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">分類</h5>
                            <ul>
                                <li><a href="./member">會員</a></li>
                                <li><a href="./yoga">瑜珈 </a></li>
                                <li><a href="./dom">動滋劵 </a></li>
                                <li><a href="./dogym">健身 </a></li>
                            </ul>
                        </div>
                        <div class="so-latest">
                            <h5 class="title">重要公告</h5>
                            <div class="latest-large set-bg">
                                <div class="ll-text">
                                    <h5><a asp-controller="News" asp-action="popularActivitiesIdnex1"> Fitness 邀請您參加世界瑜珈日</a></h5>
                                    <ul>
                                        <li>May 20, 2021</li>
                                        @*<li>20 Comment</li>*@
                                    </ul>
                                    <h5><a>武術格鬥結合健身</a></h5>
                                    <ul>
                                        <li>Aug 20, 2021</li>
                                        @*<li>20 Comment</li>*@
                                    </ul>
                                    <h5><a>雙十節優惠活動詳情請洽教練或櫃檯!!</a></h5>
                                    <ul>
                                        <li>Sep 11, 2021</li>
                                        <!--<li>-->@*20 Comment*@<!--</li>-->
                                    </ul>
                                </div>
                            </div>

                            @*<div class="so-tags">
                                <h5 class="title">Popular tags</h5>
                                <a href="#">健身</a>
                                <a href="#">健美</a>
                                <a href="#">瑜珈</a>
                                <a href="#">減重</a>
                                <a href="#">伸展</a>
                                <a href="#">卡路里</a>
                                <a href="#">有氧</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
